@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
  
.quicksand-font{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

  /* shared-items*/
  .display-flex{
    display: flex;
  }
  .display-grid{
    display: grid;
  }
  .text-color-orange{
    color: rgb(254, 163, 1);
  }
  .text-color-blue{
    color: rgb(1, 172, 253);
  }
  .text-color-gray{
    color: rgb(5, 212, 223);
  }
  .text-color-violate{
    color: rgb(93, 88, 239);
  }
  .card-gradient1{
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
  }
  .card-gradient2{
    box-sizing: border-box;
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
  }
  .card-gradient3{
    box-sizing: border-box;
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
  }
  .btn-primary{
    width: 197px;
    height: 50px;
    background-color: rgb(254, 163, 1);
    border: none;
    border-radius: 12px;
    color: white;
    padding: 10px;
    font-size: 1.25rem;
    font-weight: 600;
  }
  /* navbar-style*/
  .hr{
    display: none;
  }
  .logo-title{
    margin-left: 10px;
    font-size: 32px;
    font-weight: 700;
    line-height: 8px;
    color: rgb(17, 17, 17);
  }
  .navbar{
    margin: 0 auto;
    width: 100%;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
  }
  .nav-links-container{
    width: 387px;
    margin: 0px 180px;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
  }
  .nav-links{
    gap: 30px;
    list-style: none;
  }
  .nav-link{
    text-decoration: none;
  }
  .responsive-image{
    display: none;
  }
  /*banner-part*/
.banner-container{
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
}
.banner{
  max-width: 640px;
}
.banner-title{
  margin: 0;
  font-size: 3.2rem;
  font-weight: 700;
}
.banner-description{
  font-weight: 400;
  font-size: 1.2rem;
}
#banner-section .btn-primary{
  background-color: black;
}

/* curriculum section */
#our-curriculum{
  background-image: url(../assets/bg.png);
}
.our-title{
  margin-top: 80px;
  display: flex;
  justify-content: center;
  font-size: 2.2rem;
  font-weight: 700;
}
.card-container{
  margin: 80px auto;
  max-width: 1200px;
  height: 482px;
  display: flex;
  gap: 10px;
  place-items: center;  
}
.cardbox{
  height: 475px;
  text-align: center;
  align-items: center;
}
.cardbox .card-img{
  margin-top: 50px;
}
.cardbox .card-title{
  font-size: 1.5rem;
  font-weight: 700;
}
.cardbox .card-description{
  font-size: 1rem;
  font-weight: 500;
  color: rgb(128, 128, 128);
}
.cardbox .read-more{
  text-decoration: none;
}
.arrow-continer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
 .arrow-continer .arrow{
  font-size: 3rem;
  height: 60px;
  width: 60px;
  padding: 20px;
  text-align: center;
  border-radius: 50px;
  color:rgb(254, 254, 254);
  background-color: orange;
}
/* story section */
#Story{
  background: url(../assets/bg.png),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
}
.story-heading{
  margin-top: 80px;
  display: flex;
  justify-content: center;
  font-size: 2.2rem;
  font-weight: 700;
}
.card .big-img{
  width: 540.27px;
  height: 630.52px;
  border-radius: 16px;
  background: rgb(255, 255, 255);
}
.big-img button{
  margin-left: 20px;
  width: 174.51px;
  height: 38.35px;
  transform: translateY(-23px);
  border: none;
  border-radius: 45px;
  background: rgb(149, 178, 38);
}
.big-img h3{
  margin-left: 1.5rem;
  font-size: 24px;
  font-weight: 700;
}
.big-img p{
  margin-left: 20px;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(102, 102, 102);
}
.story-card-container{
  max-width: 1200px;
  height: 635px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.a-card{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}
.card{
  margin-left: 15px;
  border-radius: 16px;
  background-color: rgb(255, 255, 254);
}
.story-img{
  border-radius: 16px 16px 0 0;
}
.a-card button{
  margin-left: 15px;
  width: 174.51px;
  height: 38.35px;
  transform: translateY(-23px);
  border: none;
  border-radius: 45px;
  background: rgb(149, 178, 38);
}
.a-card p{
  margin-left: 15px;
  font-size: .9rem;
  font-weight: 700;
}
.view{
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.view .btn-primary{
  background-color: black;
}
/* footer */
.footer{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 520px;
  background: rgb(1, 172, 253);;
}
.footer-container{
  width: 1200px;
}
.footer1{
  justify-content: flex-start;
  gap: 40px;
  width: 400px;
}
.footer2{
  width: 400px;
  justify-items: center;
  text-align: center;
  flex-direction: column;
  
}
.footer3{
  width: 400px;
  justify-content: flex-end;
  justify-items: center;
  text-align: center;
  flex-direction: column;
}


  /* media-query for small device*/
  @media screen and (max-width: 576px) {
    .logo-title, .nav-links-container, .nav-btn{
      display: none;
    }
    .hr{
      display: block;
    }
    .logo-img, .responsive-image{
      display: flex;
      justify-content: space-between;
      margin: 0 150px;
      width: 100%;
      height: 50px;
    }
    .banner-container{
      width: 100%;
      height: 1500px;
      flex-direction: column-reverse;
      justify-items: center;
      align-items: center;
      text-align: center;
      gap: 20px;
    }
    .banner-img{
      width: 100%;
      height: 400px;
      
    }
    .banner-btn{
      margin-top: 10px;
    }
    /* curriculam */
    #our-curriculum{
      width: 100%;
      height: 1500px;
      margin-bottom: 20px;
    }
    .our-title{
      font-size: 2rem;
      font-weight: 700;
      width: 100%;
    }
    .card-container{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
    .card-container .card{
      width: 100%;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
    .arrow-continer{
      display: none;
    }
    /* story */
    .story-container{
      width: 100%;
    }
    .big-img{
      display: none;
    }
    .story-heading{
      text-align: center;
      width: 100%;
    }
    .a-card .story-img{
      width: 100%;
    }
    .a-card .card{
      width: 100%;
      margin: 0;
    }
    .footer-container, .footer2, .footer3{
      height: 500px;
      flex-direction: column;
      justify-items: start;
      align-items: start;
      text-align: start;
      gap: 5px;
    }
    
  }