@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
  
.quicksand-font{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

  /* shared-items*/
  .display-flex{
    display: flex;
  }
  .text-color-orange{
    color: rgb(254, 163, 1);
  }
  .text-color-blue{
    color: rgb(1, 172, 253);
  }
  .text-color-gray{
    color: rgb(5, 212, 223);
  }
  .text-color-violate{
    color: rgb(93, 88, 239);
  }
  .btn-primary{
    width: 197px;
    height: 50px;
    background-color: rgb(254, 163, 1);
    border: none;
    border-radius: 12px;
    color: white;
    padding: 10px;
    font-size: 1.25rem;
    font-weight: 600;
  }
  /* navbar-style*/
  .logo-title{
    margin-left: 10px;
    font-size: 32px;
    font-weight: 700;
    line-height: 8px;
    color: rgb(17, 17, 17);
  }
  .navbar{
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
  }
  .nav-links-container{
    width: 387px;
    margin: 0px 180px;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
  }
  .nav-links{
    gap: 30px;
    list-style: none;
  }
  .nav-link{
    text-decoration: none;
  }
  .responsive-image{
    display: none;
  }
  /*banner-part*/
.banner-container{
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
}
.banner{
  max-width: 640px;
}
.banner-title{
  margin: 0;
  font-size: 3.2rem;
  font-weight: 700;
}
.banner-description{
  font-weight: 400;
  font-size: 1.2rem;
}
#banner-section .btn-primary{
  background-color: black;
}
.responsive-line{
  display: none;
}





  /* media-query for small device*/
  @media screen and (min-width: 430px) and (max-width: 932px) {
    .navbar> .logo-continer, .logo-title, .nav-links, .nav-btn{
        display: none;
    }
    .logo-img{
      display: block;
      width: 50px;
      height: 50px;
    }
    .responsive-image{
      padding-right: 5px;
      width: 40px;
      height: 40px;
      display: block;
    }
    .responsive-line{
      display: inline-block;
      position: absolute;
      width: 100%;
      margin-bottom: 10px;
      color: orange;
      border: 1px solid;
    }
    .banner-container, .btn-primary{
      margin: 10px;
      margin-top: 40px;
      justify-items: center;
      text-align: center;
      flex-direction: column-reverse;
    }
    
  }
  